/** Orange color #f39c12  **/


/**   BASIC SETUP  **/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	background-color: #fff;
	color: #3b3b3b;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}


.row {
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix{
	zoom:1;
}

.clearfix:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/** HEADER **/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}

h1,
h2,
h3 {
	text-transform: uppercase;
}

h1 {
	margin: 0;
	color: white;
	font-size: 240%;
	font-weight: 350;
	letter-spacing: 1px;
	margin-bottom: 20px;
	word-spacing: 4px;
}

h2 {
	font-size: 180%;
	font-weight: 350;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin-bottom: 30px;

}

h2:after {
	display: block;
	content: " ";
	width: 100px;
	height: 2px;
	margin: 0 auto;
	background-color: #f39c12;
	margin-top: 20px;
}

h3 {
	font-size: 100%;
	margin-bottom: 15px;
	font-size: 110%;
	font-weight: 400;
}

/**		SECTION		**/

section {
	padding: 80px 0;
}

/**    Paragraphs    **/

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.long-copy {
	line-height: 140%;
	width: 70%;
	margin-left: 15%;
}

.box {
	padding: 1%;
}

.box p {
	font-size: 90%;
	line-height: 140%;
}

.icon-big {
	font-size: 300%;
	display: block;
	color: #f39c12;
	margin-bottom: 10px;
}

/**   BUTTONS    **/

.btn {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	font-weight: 500;
	border-radius: 200px;
	transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full {
	background-color: #f39c12;
	border: 1px solid #f39c12;
	color: white;
	margin-right: 15px;
}


.btn-ghost {
	border: 1px solid #f39c12;
	color: #f39c12;
}


.btn:hover,
.btn:active {
	background-color: #d8890b;
	color: white;
}

/**     LOGO	**/

.logo {
	height: 80px;
	width: 80px;
	margin-top: 10px;
	float: left;

}

/**		MAIN NAVIGATION		**/

.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: white;
	font-size: 100%;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #f39c12;
}

/****		FAST FOOD SECTION		****/

.section-features .long-copy {
	margin-bottom: 30px;
}

/****  	MEALS SECTION	****/

.section-meals {
	padding: 0px;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	float: right;
	display: block;
	width: 25%;
}

.meals-photo {
	width: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: #000;

}

.meals-photo img {
	width: 100%;
	height: auto;
	opacity: 0.7;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.meals-photo img:hover {
	transform: scale(1.03);
	opacity: 1;
}

/*****		HOW IT WORKS 	*****/

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}

.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width: 40%;

}

.works-step {
	margin-bottom: 50px;
	float: left;
}

.works-step:last-of-type{
	margin-bottom: 70px;
}

.works-step div {
	border: 2px solid #f39c12;
	border-radius: 50%;
	display: inline-block;
	width: 55px;
	height: 55px;
	text-align: center;
	padding: 5px;
	font-size: 150%;
	float: left;
	margin-right: 25px;
}

.works-step p {
	margin-top: 4px;
}

.btn-app img {
	height: 50%;
	width: auto;
	margin-right: 10px;
}
